<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyd.springbootserviceseedproject.system.mapper.MemoCategoryMapper">

    <resultMap type="MemoCategory" id="MemoCategoryResult">
        <id     property="categoryId"    column="category_id"    />
        <result property="userId"        column="user_id"        />
        <result property="categoryName"  column="category_name"  />
        <result property="categoryIcon"  column="category_icon"  />
        <result property="orderNum"      column="order_num"      />
        <result property="status"        column="status"         />
        <result property="delFlag"       column="del_flag"       />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"        column="remark"         />
    </resultMap>

    <sql id="selectCategoryVo">
        select category_id, user_id, category_name, category_icon, order_num, status, del_flag,
               create_by, create_time, update_by, update_time, remark
          from memo_category
    </sql>

    <select id="selectCategoryById" parameterType="Long" resultMap="MemoCategoryResult">
        <include refid="selectCategoryVo"/>
        where category_id = #{categoryId} and del_flag = '0'
    </select>

    <select id="selectCategoryList" parameterType="MemoCategory" resultMap="MemoCategoryResult">
        <include refid="selectCategoryVo"/>
        <where>
            del_flag = '0'
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="categoryName != null and categoryName != ''">
                AND category_name like concat('%', #{categoryName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by order_num asc, category_id asc
    </select>

    <select id="checkCategoryNameUnique" resultMap="MemoCategoryResult">
        <include refid="selectCategoryVo"/>
        where category_name = #{categoryName} and user_id = #{userId} and del_flag = '0' limit 1
    </select>

    <insert id="insertCategory" parameterType="MemoCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into memo_category (
            <if test="userId != null">user_id,</if>
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="categoryIcon != null and categoryIcon != ''">category_icon,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="userId != null">#{userId},</if>
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="categoryIcon != null and categoryIcon != ''">#{categoryIcon},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updateCategory" parameterType="MemoCategory">
        update memo_category
        <set>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="categoryIcon != null">category_icon = #{categoryIcon},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where category_id = #{categoryId} and del_flag = '0'
    </update>

    <update id="deleteCategoryById" parameterType="Long">
        update memo_category set del_flag = '2' where category_id = #{categoryId}
    </update>

    <update id="deleteCategoryByIds" parameterType="Long">
        update memo_category set del_flag = '2' where category_id in
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </update>

</mapper>
